:root {
  --head-foot: #ccebf1;
  --main-color: #f2dce8;
  --black-color: #000000;
  --highlight-color: #fa0707;
  --coral-color: #ff7f50;
  --lightcoral-color: #f6cdd4;
  --lightskyblue-color: #abdcfa;
  --grey-color: #808080;
  --skill-odd: #fccad2;
  --skill-even: #fcd7d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1480px;
  padding: 0 20px;
}

.section{
  padding: 30px;
}

.inactive{
  display:none;
}

/* Header start */
.site-title {
  margin: 20px;
  font-size: 99px;
  line-height: 160px;
  font-weight: normal;
  text-align: center;
  color: var(--black-color);
}

.title{
  font-size: 20px;
}

.main{
  display: flex;
}

.left-side{
  background-color: #fccad2;
}

.right-side{
  background-color: #ffffff;
}

/* Header end */

/* Photo start */

.photo-img {
  width: 280px;
  height: 100%;
}
/* Photo end */

/* Contacts start */
.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  padding: 0;
  font-size: 20px;
  counter-reset: li;
  list-style-type: none;
}
/* Contacts end */

/* Education start */
.edu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  padding: 0;
  font-size: 20px;
  list-style-type: none;
}

.mshp-link {
  text-decoration: none;
  color: var(--black-color);
}
/* Education end */

/* Skills start */
.skills-list {
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  list-style-type: none;
}

.skills-list li {
  padding: 5px;
}
/* Skills end */

/* Languages start */
.info-languages  {
  margin: 10px;
  font-size: 20px;
}

/* Languages end */

/* About me start */
.name {
  margin: 20px;
  font-size: 30px;
}

.post {
  font-size: 20px;
}

.about-me {
  margin: 15px;
}

.about-text {
  padding: 30px 40px;
  margin: 20px 40px;
  line-height: 30px;
  font-size: 20px;
  border-left: 3px solid var(--lightskyblue-color);
  color: var(--grey-color);
}
/* About me end */

/* Code example start */
.hljs {
  background: none;
}

.pre {
  margin: 30px 0;
  overflow: auto;
  overflow-y: hidden;
  line-height: 20px;
  border-radius: 150px;
}

.code {
  font-size: 1.4em;
  line-height: 30px;
} 
/* Code example end */


/* My projects start */
.proj-img-container{
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 77px;
  margin-top: 28px;
}

.proj-link {
  text-decoration: none;
}
/* My projects end */

/* Footer start */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.rss-logo {
  width: 150px;
  height: auto;
  margin-top: 72px;
}

.github-icon {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

.year {
  margin-top: 25px;
  text-align: center;
  font-size: 50px;
  line-height: 160px;
  font-weight: normal;
}
/* Footer end */